.group .header {
  text-transform: uppercase;
  font-size: 11px;
  color: var(--vscode-disabledForeground);
  margin: 12px 0 4px 0;
}

.row {
  display: flex;
  align-items: center;
  cursor: default;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

.icon-and-text {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 4px 0;
}

.badge {
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 4px;
  padding: 4px;
  color: var(--vscode-foreground);
  background-color: var(--vscode-button-secondaryBackground);
}

.badge-signed-in {
  color: var(--vscode-terminal-ansiBrightGreen);
}

.badge-signed-out {
  color: var(--vscode-editorWarning-foreground);
}

.badge-error {
  color: var(--vscode-errorForeground);
  background-color: var(--vscode-debugExceptionWidget-background);
}

.badge-offline {
  color: var(--vscode-disabledForeground);
  background-color: var(--vscode-editorWidget-background);
}

#device-id {
  font-size: 8px;
  color: var(--vscode-disabledForeground);
  text-align: center;
  margin: 12px 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.out-of-credits-banner {
  background-color: var(--vscode-button-secondaryBackground);
  border-radius: 4px;
  padding: 8px 12px;
  margin: 10px 2px;
}

.warning {
  color: var(--vscode-editorWarning-foreground);
}

.bold {
  font-weight: 600;
}
