out
dist
docs
node_modules
.vscode-test/
.vscode-exp/
*.vsix
.DS_Store
## Ignore executables and zips created (in the download process) when running the extension in dev mode
cs-darwin-*
cs-linux-*
cs-win32-*
cs-ide-*
cs-cwf/
*.zip
.idea/
test-git-repo/
test-git-repo-diff-utils/
