.vscode/**
.vscode-test/**
.idea/
.claude/
src/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/
out/test/**
## Ignore executables and zips created (in the download process) when running the extension in dev mode
cs-*
*.zip

## Misc dotfiles
.mocharc.json
Makefile
commitlint.config.js
.github/**
.versionrc.json
.codescene/

screenshots
*.vsix
.DS_Store
coverage/