body {
  line-height: 20px;
}

h2 {
  font-size: 16px;
  margin: 4px 0;
}

a:focus {
  outline: none;
}

.flex-row {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 2px 0 6px 0;
}

.large {
  font-size: var(--type-ramp-plus1-font-size);
  gap: 8px;
}

.block {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.color-degraded {
  color: var(--vscode-errorForeground);
}

.color-improved {
  color: var(--vscode-editorWarning-foreground);
}

.color-fixed {
  color: var(--vscode-terminal-ansiGreen);
}

.function-summary {
  margin-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.function-name {
  font-size: var(--type-ramp-plus1-font-size);
  font-weight: bold;
}

.filename-and-smell {
  gap: 10px;
}

.issue {
  margin-bottom: 14px;
}

.issue-link {
  font-weight: bold;
  text-decoration: none;
}
