h2 {
  border: none;
  margin-bottom: 2px;
}

.hidden {
  display: none;
}

.documentation-header {
  margin-bottom: 16px;
}

.flex-row {
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 4px 0;
}

#function-location {
  display: inline-flex;
  font-size: smaller;
  cursor: pointer;
  padding: 0 4px;
  margin: 4px 0;
  border-radius: 4px;

  span.file-name {
    margin-right: 4px;
  }

  span.line-no {
    color: var(--vscode-disabledForeground);
    /* color: var(--vscode-foreground); */
  }
}

.clickable {
  cursor: pointer;
}

.expand-indicator {
  transition: all 0.2s;
  transform: rotate(0deg);
  font-size: large;
}

.rotated {
  transform: rotate(-90deg);
}

.collapsed {
  height: 0;
  transition: height 0.2s;
}

.container {
  overflow: hidden;
}

#function-location:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}

#refactoring-button {
  margin-top: 5px;
}
