body {
  font-family: sans-serif;
}

h2 {
  border: none;
}

.reasons {
  margin: 0.8em 0 1.5em 0;
}

.code-container {
  position: relative;
}

#copy-to-clipboard {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.buttons {
  display: inline;
  float: right;
}
