body {
  font-family: sans-serif;
}

h2 {
  border: none;
}

.code-container {
  position: relative;
}

#copy-to-clipboard {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.bottom-controls {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: var(--background);
}

.buttons-right {
  display: flex;
  float: right;
  gap: 8px;
  margin: 8px 12px;
}

span.spacer{
  flex-grow: 2;
}

.action-badge {
  display: inline-block;
  font-family: var(--font-family);
  font-size: var(--type-ramp-minus1-font-size);
  line-height: var(--type-ramp-minus1-line-height);
  border: calc(var(--border-width) * 1px) solid var(--button-border);
  border-radius: var(--tag-corner-radius);
  color: var(--badge-foreground);
  padding: calc(var(--design-unit) * 0.5px) calc(var(--design-unit) * 1px);
  text-transform: uppercase;
}

.action-badge.level-1 {
  color: #f9dcde;
  background-color: #863137;
}
.action-badge.level-2 {
  color: #fce9e1;
  background-color: #91583e;
}
.action-badge.level-3 {
  color: #dcece4;
  background-color: #2f5f48;
}

.loading-content {
  text-align: center;
  margin: 3em 0;
}

#loading-span {
  line-height: 4em;
}

.progress-ring {
  width: 100%;
}
