body {
  font-family: sans-serif;
}

.reasons {
  margin: 0.8em 0 1.5em 0;
}

pre code {
  display: block;
  white-space: pre;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.buttons {
  display: inline;
  float: right;
}
