body {
  font-family: sans-serif;
}

.confidence-label {
  border-radius: 4px;
  padding: 4px 10px;
  margin: 6px 0;
  display: inline;
}

.confidence-0 {
  background-color: #f2f4f8;
  color: #626f8b;
}
.confidence-1 {
  background-color: #ec979d;
  color: #b3424a;
}
.confidence-2 {
  background-color: #f9d4c2;
  color: #c17652;
}
.confidence-3 {
  background-color: #b9d9c9;
  color: #3f7f60;
}

.reasons {
  margin: 10px 0;
}

pre code {
  display: block;
  white-space: pre;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.buttons {
  display: inline;
  float: right;
}
.apply {
  background-color: #4baaae;
  color: #132b2b;
}
.reject {
  background-color: #f3babe;
  color: #863137;
}
