p {
  line-height: 1.3em;
}

h3 {
  margin-block-start: 2em;
}

hr {
  margin-block-start: 2em;
}

code.preflight-error {
  font-family: monospace;
}

.codicon {
  vertical-align: text-bottom;
}

.codicon-active {
  color: rgb(29, 139, 29);
}

.codicon-inactive {
  color: var(--vscode-notificationsErrorIcon-foreground);
}

.features-list {
  list-style-type: none;
  padding-inline-start: 4px;
}

#open-settings-button {
  position: fixed;
  top: 16px;
  right: 20px;
}

.progress-ring {
  width: auto;
  height: calc(var(--design-unit) * 4px);
  margin-right: 0.6em;
  display: inline-block;
}
