.ace-acknowledgement-container {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid var(--vscode-focusBorder);
  background: var(--vscode-textCodeBlock-background);

  p.header {
    font-weight: 600;
  }

  p.fineprint {
    color: var(--vscode-descriptionForeground);
    margin-bottom: 0;
    font-size: 11px;
    text-align: center;
    line-height: initial;
  }

  .green {
    color: var(--vscode-terminal-ansiBrightGreen);
  }

  ul {
    padding-inline-start: 14px;
    margin-bottom: 1.2em;
  }

  li {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .privacy-link {
    margin: 8px 0;
  }

  .button-container {
    display: flex;
    margin: 14px 0 10px 0;
    justify-content: center;
  }
}
