:root {
  --codeScene-green: #73c991;
  --codeScene-orange: #ee9d28;
  --codeScene-red: #f14c4c;
  --codeScene-blue: #66a8f5;
}

.code-container {
  position: relative;
}

.code-container-buttons {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  gap: 10px;
}

.loading-content {
  text-align: center;
  margin: 3em 0;
}

#loading-span {
  line-height: 4em;
}

.progress-ring {
  width: 100%;
}

.function-info {
  margin: 1.3em 0;
}

.refactoring-summary {
  background-color: var(--vscode-textCodeBlock-background);
  border-left: 2px solid var(--vscode-textCodeBlock-background);
  font-size: 12px;
  padding: 10px 14px;
  margin-top: 14px;
}

.refactoring-summary.level-0 {
  border-left-color: var(--codeScene-red);
}
.refactoring-summary.level-1 {
  border-left-color: var(--codeScene-blue);
}
.refactoring-summary.level-2 {
  border-left-color: var(--codeScene-orange);
}
.refactoring-summary.level-ok {
  border-left-color: var(--codeScene-green);
}

.refactoring-summary-header {
  text-transform: uppercase;
  font-weight: 600;
}

.refactoring-summary-header.level-0 {
  color: var(--codeScene-red);
}
.refactoring-summary-header.level-1 {
  color: var(--codeScene-blue);
}
.refactoring-summary-header.level-2 {
  color: var(--codeScene-orange);
}
.refactoring-summary-header.level-ok {
  color: var(--codeScene-green);
}

.refactoring-unavailable-content {
  margin-top: 12px;
}

