body {
  font-size: var(--vscode-font-size);
  line-height: 18px;
}

h2 {
  font-size: 18px;
  border: none;
  margin: 20px 0 12px 0;
}

h3 {
  font-size: 15px;
  margin: 12px 0 10px 0;
}

h4 {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

.flex-row {
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 4px 0;
}

#function-location {
  display: inline-flex;
  font-size: smaller;
  cursor: pointer;
  padding: 0 4px;
  margin: 4px 0;
  border-radius: 4px;

  span.file-name {
    margin-right: 4px;
  }

  span.line-no {
    color: var(--vscode-disabledForeground);
    /* color: var(--vscode-foreground); */
  }
}

#function-location:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}

.expand-indicator {
  transition: all 0.2s;
  transform: rotate(0deg);
  font-size: large;
}

.rotated {
  transform: rotate(-90deg);
}

.collapsed {
  height: 0;
  transition: height 0.2s;
}

.container {
  overflow: hidden;
}

.button-container {
  display: inline-flex;
  gap: 10px;
  margin: 12px 0;
}
