name: Code Coverage (generate data and trigger analysis)

on: 
  schedule:
    - cron: "0 4 * * 1-5"
  workflow_dispatch:

permissions:
  contents: read # This is required for actions/checkout

jobs:
  code-coverage-data:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - uses: './.github/actions/setup'

    # silence a warning when running tests
    - name: Configure Git
      run: git config --global advice.defaultBranchName false

    - name: Generate code coverage
      run: npm run test:coverage
      env:
        CI: true

    - name: Upload statement coverage data
      uses: ./.github/actions/upload-coverage
      if: always()
      with:
        cs-token:  ${{ secrets.CODESCENE_CODE_COVERAGE_API_TOKEN }}
        format: lcov
        metric: function-coverage
        file: coverage/lcov.info

    - name: Upload branch coverage data
      uses: ./.github/actions/upload-coverage
      if: always()
      with:
        cs-token:  ${{ secrets.CODESCENE_CODE_COVERAGE_API_TOKEN }}
        format: lcov
        metric: branch-coverage
        file: coverage/lcov.info

  trigger-analysis:
    runs-on: ubuntu-24.04 # 24.04 needed to support `curl --retry-all-errors`
    needs: [ code-coverage-data ]
    if: always()
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Trigger codescene-vscode project analysis
      env:
        CS_TOKEN:  ${{ secrets.CODESCENE_CODE_COVERAGE_API_TOKEN }}
        CS_PROJECT_ID:  36131
      run: |
        curl --fail -X POST -H "Authorization: Bearer $CS_TOKEN" https://api.codescene.io/v2/projects/${CS_PROJECT_ID}/run-analysis
