name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        # Github performs shallow clones by defaults - prevent that:
        fetch-depth: 0

    - uses: './.github/actions/setup'

    - name: Validate PR commits
      run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - uses: './.github/actions/setup'

    # silence a warning when running tests
    - name: Configure Git
      run: git config --global advice.defaultBranchName false

    - run: npm test
      env:
        CI: true
